<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="app">

        <div class="wrapper">

            <main class="d-flex">
    
                <!-- SIDEBAR -->
    
                <aside class="sidebar">
    
                    <header class="sidebar-user-container d-flex">
    
                        <a class="user-data" href="#">
                            <img id="user" src="img/avatar_2.jpg" alt="user img">
                            <span class="user-name">Francesco</span>
                        </a>
    
                        <div class="user-icons d-flex">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>

                    <!-- BANNER -->
    
                    <section id="sidebar-banner" class="d-flex">
    
                        <div class="circle">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="banner-text">
                            <div class="link-icon">Ricevi notifiche di nuovi messaggi</div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
    
                    </section>

                    <!-- SEARCH BAR -->

                    <section id="sidebar-contacts">
    
                        <div class="sidebar-contacts-search d-flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="search" v-model="searchValue" class="search-field" placeholder="Cerca o inizia una nuova chat"></input>
                        </div>
    
                        <ul class="sidebar-contacts-list">
                            <li v-for="(contact, index) in filteredContacts" class="contact d-flex" @click="selectContact(index)">
                                    <img id="contact-image" :src="contact.image" alt="contact img">
                                    <div class="contact-data-text">
                                        <div class="contact-name">{{contact.name}}</div>
                                        <div class="last-message">Ultimo messaggio</div>
                                    </div>
                            </li>
                        </ul>
    
                    </section>
    
                </aside>
    
                <!-- MAIN RIGHT -->
    
                <div class="container">
    
                    <!-- HEADER -->
    
                    <header id="header-contents" class="d-flex">
    
                        <a  class="contact-data d-flex" href="#">
                            <img v-if="filteredContacts.length>0" id="contact-image"  :src="filteredContacts[activeContact].image" alt="contact img">
                            <div class="contact-data-text">
                                <div v-if="filteredContacts.length>0" class="contact-name">{{filteredContacts[activeContact].name}}</div>
                                <div v-if="filteredContacts.length>0" class="last-access">Ultimo accesso oggi alle 12.00</div>
                            </div>
                        </a>
    
    
                        <div class="contact-icons d-flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
    
                    </header>
                    
                    <div v-if="filteredContacts.length > 0">
                        <section  v-for="(message, index) in filteredContacts[activeContact].messages" id="message-area" class="margin-y2 d-flex">
                            <span class="message-container d-flex" :class=" (filteredContacts[activeContact].messages[index].status=='sent')?'user-message':'contact-message' ">
                                <span class="message-text">
                                    {{message.message}}
                                </span>
                                <span class="message-date">
                                    {{message.date}}
                                </span>
                            </span>
    
                        </section>
                    </div>


                </div>
            </main>
    
            <!-- FOOTER -->
    
            <footer class="site-footer d-flex">
    
                <i class="fa-regular fa-face-smile"></i>
                <input class="message-field" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage" >
                <i class="fa-solid fa-microphone"></i>
    
            </footer>
    
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.1/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>